.activity_user_property .title{
	padding :  15px 0;
}
.activity_user_property .typeSelect{
	padding :  10px 0;
}
.activity_user_property .activitySelect{
	padding :  10px 0;
}
.activity_user_property label{
	padding-right:  20px;
}