.page_userProperty{
	width:954px;
	margin-left:-50px;
}

/*布局*/
.page_userProperty .userProperty_section{
	width:100%;
	min-height:555px;
}
.page_userProperty .userProperty_section .title{
	width:100%;
	height:48px;
	background-color:#FFF;
	color:#434343;
	line-height:48px;
	font-size:16px;
	padding-left:20px;
	border-bottom:1px solid #ee1e6c;
}

/*访问次数or访问人数*/
.page_userProperty .visitedSelect{
	width:99.9%;
	height:35px;
	background-color:#FFF;
}

/*男女标注*/
.page_userProperty .userProperty_section .note{
	width:100%;
	height:80px;
	/*border:1px solid #666;*/
	position:relative;
}
.page_userProperty .note .man{
	margin-top:5px;
	width:100px;
	height:30px;
	font-size:14px;
	border:1px solid #1F77B4;
	position:absolute;
	right:10px;
	top:5px;
	color:#1F77B4;
	text-align:center;
	line-height:30px;
}
.page_userProperty .note .woman{
	width:100px;
	height:30px;
	font-size:14px;
	border:1px solid #AEC7EB;
	position:absolute;
	right:10px;
	top:50px;
	color:#AEC7EB;
	text-align:center;
	line-height:30px;
}

/*性别*/
.sex{}
	/* 日期下拉样式补充*/
.page_userProperty .date_option{
	width:100%;
	height:80px;
	/*border:1px solid #b6b6b6;*/
}
.page_userProperty .date_option label{
	color:#434343;
	font-size:15px;
	margin-left: 20px;
	margin-right:25px;
	margin-top:20px;
}
.page_userProperty .date_option .select{
	display:inline-block;
	margin-top:20px;
}
	/* 日期下拉样式补充-end*/
/*性别-end*/

/*年龄*/
.age{}

/*学历*/
.education{}

/*薪水*/
.salary{}