.activity_publish_main .activity_publish_section{
	margin-top: 20px;
	padding-left: 35px;
}
.activity_subject .ant-input{
	display: block !important;
	margin-top: 10px;
	width: 450px;
}
.activity_introduction .ant-input{
	display: block !important;
	margin-top: 10px;
	width: 450px;
	height: 150px;
}
.activity_site .ant-input{
	display: block !important;
	margin-top: 10px;
	width: 450px;
}
.activity_cover_show img{
	width: 300px;
}
.activity_cover{
	margin-top: 20px;
	margin-bottom: 20px;
}
.activity_publish_section .ant-btn{
	margin-right: 20px;
	margin-top: 30px;
	margin-bottom: 30px;
}