.activity_detail_main{
	width: 852px;
	min-height: 800px;
	margin: 0 auto;
}
.activity_detail .back{
	margin: 10px auto;
	width:100%;
	height:30px;
	line-height:30px;
}
.activity_detail .back span{
	font-size: 12px;
}
.activity_detail .activity_information{
	width:100%;
	min-height:350px;
	border:1px solid #eee;
	-webkit-transition: box-shadow .5s;
	-moz-transition: box-shadow .5s;
	transition: box-shadow .5s;
}
.activity_detail .activity_information:hover{
	box-shadow: 5px 5px 5px #ededed;
}
.activity_detail .activity_information .activity_cover{
	height: 300px;
	overflow: hidden;
}
.activity_detail .activity_information .activity_cover img{
	width:100%;
}
.activity_detail .activity_information .activity_about{
	width:100%;
	height:50px;
	line-height: 50px;
}
.activity_about .activity_name, .activity_about .activity_deadline, .activity_about .activity_start{
	display: inline-block;
	padding: 0 20px;
}
.activity_about .activity_name .label, .activity_about .activity_deadline .label, .activity_about .activity_start .label{
	padding-right: 20px;
}
.activity_influence{
	margin-top:20px;
}