.material_main{
	width: 852px;
	min-height: 800px;
	margin: 0 auto;
}
.material_data{
	width: 100%;
	height: 225px;
	border: 1px solid #ededed;
	margin-top:20px;
	overflow: hidden;
	-webkit-transition: box-shadow .5s;
	-moz-transition: box-shadow .5s;
	transition: box-shadow .5s;
}
.material_data:hover{
	box-shadow: 5px 5px 5px #ededed;
}
.material_left{
	width: 25%;
	height: 100%;
	float: left;
	overflow: hidden;
}
.material_left img{
	height: 80%;
	margin: 10% 20px;
}
.material_right{
	width: 75%;
	height: 100%;
	float: right;
	overflow: hidden;
}
.material_right .material_text{
	width: 100%;
	height: 70%;
	padding: 20px;
}
.material_right .material_text .material_subject{
	height: 16%;
	width: 80%;
	font-size: 14px;
}
.material_right .material_text .material_content{
	margin-top: 2%;
	height: 82%;
	width: 88%;
	font-size: 12px;
	line-height: 20px;
	overflow: hidden;
}
.material_right .material_action{
	width: 100%;
	height: 30%;
	padding: 20px;
}
.material_right .material_action .material_edit,.material_right .material_action .material_delete,.material_right .material_action .material_date{
	padding: 0 10px;
}
.material_empty{
	text-align: center;
	margin: 20px auto;
}
.material_pagination{
	width: 100%;
	height: 50px;
	margin-top: 20px;
	overflow: hidden;
}
.material_pagination .ant-pagination{
	float: right;
}