.news_main{
	width: 100%;
	min-height: 800px;
	margin: 0 auto;
	padding: 20px 30px;
}
.news_main .ant-table td{
	max-width: 80px !important;
}
.news_main .ant-table td span{
	display: block;
	max-height: 36px !important;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.news_main .ant-table .ant-divider{
	display: inline-block !important;
}