<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= title %></title>
  </head>
  <body>
	
    <section class="app_introduce">
    	<div class="app_introduce_main">
                <div class="ture_love_logo">
                    <span class="heart"></span>
                    <span class="heart_words"></span>
                </div>
                <div class="nav"> 
                    <a href="/marriage_app" title="" class="hunjie" id="hunjie">婚介管理</a>
                    <a href="#" title="" class="renzheng" id="renzheng">认证管理</a>
                </div>
                <div class="meet" id="meet">
                    <p>在这里</p>
                    <p>遇见最美的初恋</p>
                </div>
                <div class="download_zone">
                    <div class="QR_Code"></div>
                    <div class="download">
                        <a class="iPhone" href="#"><span>下载iPhone版</span></a>
                        <a class="Android" href="#"><span>下载Android版</span></a>
                    </div>
                </div>
          </div>
    </section>
    <!-- app 下载 --> 

    <section class="home_introduce">
    	<div class="home_introduce_main">
                    <span class="home_introduce_title" id="home_introduce_title">首页</span>
                    <span class="home_introduce_text" id="home_introduce_text">
                        <p>在这里</p>
                        <p>找到你的心仪对象</p>
                        <p>实时看到TA的动态</p>
                    </span>
          </div>
    </section>
    <!-- 首页介绍 -->

    <section class="activity_introduce">
    	<div class="activity_introduce_main">
                <span class="activity_introduce_title" id="activity_introduce_title">相亲活动</span>
                <span class="activity_introduce_text" id="activity_introduce_text">
                    <p>在这里</p>
                    <p>你与TA的距离</p>
                    <p>不过是一场聚会、一次活动</p>
                </span>
          </div>
    </section>
    <!-- 相亲活动介绍 -->

    <footer class="contact">
    	<div class="contact_main" id="contact_main">
    		<div class="contact_us">
	    		<h5>联系我们</h5>
	    		<p>公司名称：深圳云创时代网络科技有限公司</p>
	    		<p>联系地址：深圳光明新区公明街四排南治一号</p>
	    		<p>合作邮箱：yekai0902@qq.com</p>
	    	</div>
	    	<div class="copyright">
	    		copyright © 深圳云创时代网络科技有限公司2015 All Rights Reserved.
	    	</div>
	    	<div class="QR_Code_for_download">
	    		<span class="QR_Code_words">扫描二维码下载</span>
	    		<span class="QR_Code_img"></span>
	    	</div>
	    </div>
    </footer>
    <!-- 联系我们 -->

<script src="/out/common.js"></script>
<script src="/out/pc_homepage.js"></script>
  </body>
</html>
