<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
           <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
           <meta name="apple-mobile-web-app-capable" content="yes" />
           <meta name="apple-mobile-web-app-status-bar-style" content="black" />
           <meta name="format-detection" content="telephone=no" /> -->
	<title><%=  title %></title>
</head>
<body>
	<!-- Swiper -->
    <div class="swiper-container">
	    <div class="swiper-wrapper">

		    <div class="swiper-slide">
                                <div class="ture_love_logo">
                                    <span class="heart"></span>
                                    <span class="heart_words">初恋</span>
                                </div>
                                <div class="meet">
                                    <p>在这里</p>
                                    <p>遇见最美的初恋</p>
                                </div>
                                <div class="download_zone">
                                    <div class="download">
                                        <a class="iPhone" href="#"><span>下载iPhone版</span></a>
                                        <a class="Android" href="#"><span>下载Android版</span></a>
                                    </div>
                                </div>
                        </div>

		    <div class="swiper-slide">
                                <span class="home_introduce_title">首页</span>
                                <span class="home_introduce_text">
                                    <p>在这里</p>
                                    <p>找到你的心仪对象</p>
                                    <p>实时看到TA的动态</p>
                                </span>
                         </div>

		    <div class="swiper-slide">
                                <span class="activity_introduce_title">相亲活动</span>
                                <span class="activity_introduce_text">
                                    <p>在这里</p>
                                    <p>你与TA的距离</p>
                                    <p>不过是一场聚会、一次活动</p>
                                </span>
                         </div>

	    </div>
    </div>
             <script src="/out/common.js"></script>
	<script src="/out/mobile_homepge.js"></script>
</body>
</html>