*{
	margin:0;
	padding:0;
}
@font-face {
    font-family: "Source Han Sans CN";
    src: url("../font/NotoSansHans-Thin-Windows.otf");
}
html,body{
	width:100%;
	height:100%;
	font-family: "Source Han Sans CN";
}
#app{
	width:100%;
	height:100%;
}
.checking{
	width:100%;
	height:100%;
	background-image:url('../images/bg.jpg');
	background-repeat:no-repeat;
	background-size:cover;
}
.checking .checking_main{
	margin:0px auto;
	width:1000px;
	position:relative;
	top:50px;
}

.checking .authErrMess{
	display:none;
	position:fixed;
	top:0;
	width:100%;
	height:50px;
	background-color:#f1f1f1;
	color:#FC052D;
	text-align:center;
	line-height:50px;
	font-size:16px;
	font-family: "Source Han Sans CN";
}

/*logo区域*/
.checking .decoration{
	margin:0 auto;
	width:400px;
	height:160px;
	text-align:center;
}
/* .checking .decoration .logo{
	margin:0 auto;
	width:144px;
	height:120px;
	background-image:url('../images/icon.png');
	background-repeat:no-repeat;
	background-size:cover;
} */
.checking .decoration .appName{
	width:100%;
	height:90px;
	line-height:90px;
	font-size:40px;
	color:#FFF;
}
.checking .decoration .appSlogan{
	width:100%;
	height:40px;
	font-size:18px;
	color:#FFF;
}

/*审核表单*/
/*认证表单*/
.checking .checking_form{
	margin: 100px auto;
	width:60%;
	height:150px;
	border:1px solid #fff;
	background-color:#f1f1f1;
	text-align:center;
	line-height:150px;
}