*{
	margin: 0;
	padding: 0;
}
@font-face {
    font-family: "Source Han Sans CN";
    src: url("../font/NotoSansHans-Thin-Windows.otf");
}

.app_introduce{
	width: 100%;
	position: relative;
	background-image: url("../images/banner1.png");
	background-repeat: no-repeat;
	background-size: cover;
}
.app_introduce_main{
	width: 1070px;
	height: 100%;
	margin: 0 auto;
	position: relative;
	-weblit-transition: all 3s;
	transition: all 3s;
}
.ture_love_logo{
	width: 145px;
	height: 48px;
	position: absolute;
	left: 2px;
	top: 18px;
}
.heart{
	display: inline-block;
	width: 58px;
	height: 100%;
	float: left;
	background-image: url("../images/icon.png");
	background-repeat: no-repeat;
	background-size: contain;
}
.heart_words{
	display: inline-block;
	width: 60px;
	height: 100%;
	float: right;
	background-image: url("../images/banner1_text1.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
.nav{
	width: 200px;
	height: 48px;
	position: absolute;
	right: 2px;
	top: 18px;
	/*border: 1px solid #000;*/
}
.nav .hunjie{
	display: inline-block;
	text-decoration: none;
	color: #FFF;
	font-size: 18px;
	width: 48%;
	height: 100%;
	text-align: center;
	line-height: 48px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.nav .renzheng{
	display: inline-block;
	text-decoration: none;
	color: #FFF;
	font-size: 18px;
	width: 48%;
	height: 100%;
	text-align: center;
	line-height: 48px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.nav a:hover{
	color: #ee1e6c;
}
.meet{
	opacity:0;
	width: 170px;
	height: 62px;
	position: absolute;
	top: 48%;
	left: 425px;
	color: #fff;
	font-size: 24px;
	font-family: "Source Han Sans CN";
}
.download_zone{
	width: 330px;
	height: 120px;
	position: absolute;
	bottom: 70px;
	left: 730px;
}
.QR_Code{
	width: 118px;
	height: 118px;
	background-image: url("../images/top.png");
	background-repeat: no-repeat;
	background-size: contain;
	float: left;
}
.download{
	width: 182px;
	height: 118px;
	float: right;
}
.iPhone{
	display: inline-block;
	width: 100%;
	height: 50px;
	border: 1px solid #fff;
	border-radius: 10px;
	text-decoration: none;
	text-align: center;
	line-height: 50px;
	color: #fff;
	font-size: 18px;
	font-family: "Source Han Sans CN";
	background-image: url("../images/ios.png");
	background-repeat: no-repeat;
	background-position: 10px 8px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	/*background-size: contain;*/
}
.iPhone span{
	padding-left: 15px;
}
.iPhone:hover{
	border: 1px solid #ee1e6c;
	background-color: #ee1e6c;
}
.Android{
	display: inline-block;
	width: 100%;
	height: 50px;
	border: 1px solid #fff;
	border-radius: 10px;
	margin-top: 14px;
	text-decoration: none;
	text-align: center;
	line-height: 50px;
	color: #fff;
	font-size: 18px;
	font-family: "Source Han Sans CN";
	background-image: url("../images/android.png");
	background-repeat: no-repeat;
	background-position: 10px 8px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.Android span{
	padding-left: 24px;
}
.Android:hover{
	border: 1px solid #ee1e6c;
	background-color: #ee1e6c;
}
/*app 下载*/

.home_introduce{
	width: 100%;
	background-image: url("../images/banner2.png");
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.home_introduce_main{
	width: 1070px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}
#home_introduce_words_box{
	background-color: #f69;
}
.home_introduce_title{
	opacity:0;
	position: absolute;
	width: 80px;
	height: 60px;
	top: 106px;
	left: 50px;
	color: #fff;
	font-size: 40px;
	font-family: "Source Han Sans CN";
}
.home_introduce_text{
	opacity:0;
	position: absolute;
	width: 200px;
	height: 96px;
	top: 210px;
	left: 50px;
	color: #fff;
	font-size: 24px;
	font-family: "Source Han Sans CN";
}
/*首页介绍*/

.activity_introduce{
	width: 100%;
	background-image: url("../images/banner3.png");
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.activity_introduce_main{
	width: 1070px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}
.activity_introduce_title{
	opacity:0;
	position: absolute;
	width: 160px;
	height: 48px;
	top: 215px;
	left: 420px;
	color: #333;
	font-size: 40px;
	font-family: "Source Han Sans CN";
}
.activity_introduce_text{
	opacity:0;
	position: absolute;
	width: 290px;
	height: 95px;
	top: 305px;
	left: 420px;
	color: #333;
	font-size: 24px;
	font-family: "Source Han Sans CN";
}
/*相亲活动介绍*/

.contact{
	width: 100%;
	height: 200px;
	position: relative;
	background-color: #232323;
}
.contact_main{
	height: 100%;
	width: 1080px;
	position: absolute;
}
.contact_us{
	position: absolute;
	left: 0px;
	top: 22px;
	width: 282px;
	height: 100px;
}
.contact_us h5{
	padding-bottom: 4px;
	font-weight: normal;
	font-size: 18px;
	color: #fff;
	font-family: "Source Han Sans CN";
}
.contact_us p{
	color: #cbcbcb;
	font-size: 14px;
	padding-top: 6px;
	font-family: "Source Han Sans CN";
}
.copyright{
	position: absolute;
	left: 288px;
	bottom: 15px;
	width: 520px;
	height: 15px;
	text-align: center;
	color: #cbcbcb;
	font-size: 13px;
	font-family: "Source Han Sans CN";
}
.QR_Code_for_download{
	position: absolute;
	top: 20px;
	left: 970px;
	width: 105px;
	height: 128px;
}
.QR_Code_words{
	color: #cbcbcb;
	font-size: 14px;
	font-family: "Source Han Sans CN";
}
.QR_Code_img{
	display: inline-block;
	width: 100px;
	height: 100px;
	margin-top: 4px;
	background-image: url("../images/bottom.png");
	background-repeat: no-repeat;
	background-size: contain;
}
/*联系我们*/