*{
	margin: 0;
	padding: 0;
}

.change_password_header{
	width: 100%;
	height: 65px;
	line-height: 65px;
	border-bottom: 1px solid #ededed;
}
.change_password_header span{
	margin-left: 35px;
	font-size: 22px;
	color: #333;
}
.change_password_main{
	width: 700px;
	min-height: 500px;
	margin: 0 auto;
	/*border: 1px solid #a6d7b1;*/
}

/*表单区域*/
.change_password_main form{
	position:relative;
	width:550px;
	height:300px;
	margin-top:50px;
	margin-left:75px;
}
.change_password_main .form_list{
	width:100%;
	height: 75px;
	line-height:90px;
	overflow:hidden;
}
.change_password_main .form_list label{
	color:#666;
	font-size:14px;
	float:left;
}
.change_password_main .form_list .input_component{
	margin-top:30px;
	margin-right:5px;
	padding-left:20px;
	width: 420px;
	height:35px;
	float:right;
}

/*err message*/
.change_password .checkedErr{
	display:none;
	position:absolute;
	left:100px;
	width:200px;
	height:30px;
	background-image:url('../../../images/error.png');
	background-repeat:no-repeat;
	background-position:left;
	padding-left:20px;
	color:#FE0202;
	font-size:14px;
	line-height:28px;
}

/*按钮区域*/
.change_password_main .button_zone{
	margin-top:20px;
	overflow:hidden;
	/*border: 1px solid #a6d7b1;*/
}
.change_password_main .button_zone .button_zone_mian{
	width: 300px;
	height: 50px;
	float: right;
}