.edit_profile_section{
	margin-top: 20px;
	padding-left: 35px;
}
.edit_profile_section .ant-input{
	display: block !important;
	margin-top: 10px;
	width: 450px;
}
.edit_profile_section .ant-btn{
	margin-right: 20px;
}
.edit_profile_section .heaer_show{
	padding: 10px 0;
}
.edit_profile_section .heaer_show img{
	width: 150px;
	height: 150px;
}