.button{
	display:inline-block;
	margin-right:10px;
	width: 148px;
	height: 35px;
	/*border: 1px solid #a3e0d1;*/
	text-align: center;
	line-height: 35px;
	color: #666;
	font-size:14px;
	/*background-color: #fff;*/
	cursor: pointer;
}
.active{
	background-color: #ee1e6c;
	color: #FFF;
}