.rc-pager > li > a, .rc-pager > li > span {
    color : #393c40;
}
.rc-pager > li > a:hover, .rc-pager > li > span:hover{
    background-color:#FFF;
}
.rc-pager > .rc-pager-item-active > a, .rc-pager > .rc-pager-item-active > span, .rc-pager > .rc-pager-item-active > a:hover, .rc-pager > .rc-pager-item-active > span:hover, .rc-pager > .rc-pager-item-active > a:focus, .rc-pager > .rc-pager-item-active > span:hover {
	background-color:#FFF;
}
.rc-pager > .rc-pager-item-active > a, .rc-pager > .rc-pager-item-active > span, .rc-pager > .rc-pager-item-active > a:hover, .rc-pager > .rc-pager-item-active > span:hover, .rc-pager > .rc-pager-item-active > a:focus, .rc-pager > .rc-pager-item-active > span:focus {
	background-color : #ee1e6c;
	border:1px solid #ee1e6c;
}

.rc-pager {
    border-radius: 0px;
}

.rc-pager > li:last-child > a, .rc-pager > li:last-child > span {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.rc-pager > li:first-child > a, .rc-pager > li:first-child > span {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: 0;
}