.select{
	width:140px;
	position:relative;
	/* top: 10px; */
}
.select_value{
	text-decoration: none;
	display: inline-block;
	width: 100px;
	height: 35px;
	color: #434343;
	background-color: #FFF;
	background-repeat: no-repeat;
	background-position: 115px;
	border: 1px solid #b6b6b6;
	font-size: 14px;
	line-height: 35px;
	padding-left:10px;
	padding-right:30px;
	cursor:pointer;
	/* white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis; */
}
.options{
	width:140px;
	height:70px;
	position:absolute;
	z-index:100;
}
.options li{
	/* margin-top: -2px; */
	list-style-type: none;
	display: inline-block;
	width: 130px;
	height: 35px;
	color: #434343;
	background-color: #FFF;
	border: 1px solid #b6b6b6;
	font-size: 14px;
	line-height: 35px;
	padding-left:10px;
	border-top:none;
	cursor:pointer;
	/* white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-webkit-transition: all .5s;
	-ms-transition: all .5s; */
}
.options li:hover{
	color: #FFF !important;
	background-color: #ee1e6c;
	border-bottom: 1px solid #ee1e6c;
	/* -webkit-transform: scale(1.5,1.2);
	-moz-transform: scale(1.5,1.2);
	-ms-transform: scale(1.5,1.2);
	z-index: 1000;
	box-shadow: 2px 2px 4px #000;
	border: none;
	font-size:14px; */
}